.bmi {
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #e18de7 0%, #e1ffea22 60%);
  }
  .bmi h1 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0 auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(8, 8, 8);
  }
  .bmi .container {
    display: flex;
    gap: 50px;
    min-width: 1500px;
    padding: 30px;
    max-width: 1500px;
    color: rgb(10, 9, 9);
  }
  .bmi .container .wrapper {
    flex: 1;
  }
  .bmi .container .wrapper:last-child {
    overflow: hidden;
  }
  .bmi .container .wrapper:last-child img {
    width: 100%;
    height: 100%;
  }
  .bmi .container .wrapper form {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .bmi .container .wrapper form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 22px;
    font-weight: 500;
  }
  .bmi .container .wrapper form div input,
  .bmi .container .wrapper form div select {
    padding: 7px 4px;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid #131111;
    background: transparent;
    color: rgb(12, 12, 11);
  }
  .bmi .container .wrapper form div option {
    color: #111;
  }
  .bmi .container .wrapper form div input:focus,
  .bmi .container .wrapper form div select:focus {
    outline: none;
  }
  .bmi .container .wrapper form button {
    border: none;
    padding: 10px 40px;
    font-size: 22px;
    font-weight: 500;
    color: #f6f8fa;
    background: #e44d4d;
  }